<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="common/header :: head"></head>
</head>

<body>
<div th:replace="common/header :: top-navigation">...</div>

<div class="container">
    <div class="page-header" style="margin-top: 80px">
        <h2>Lista de Receitas</h2>
    </div>
<div class="container">
    <h1 class="alert alert-danger" th:text="#{message.sessionExpired}">expired</h1>
    <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
</div>
</div>
<div th:replace="common/footer :: footer">...</div>
</body>

</html>