<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="common/header :: head"></head>
</head>

<body>
<div th:replace="common/header :: top-navigation">...</div>

<div class="container">
    <div id="qr">
        <h3>Scan this Barcode using Google Authenticator app on your phone to use it later in login
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and
            <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
        </h3>
        <br/>
        <span th:text="${param.qrcode}">qrcode</span>
        <img th:src="${param.qrcode}" />
    </div>
</div>
<div th:replace="common/footer :: footer">...</div>
</body>
</html>